.item-add-form{
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;
}

.item-add-form input {
    margin-right: 10px;
    display: inline-block;
    width: 80%;
}

.item-add-form input::placeholder{
    text-align: center;
}



.item-add-form>input.red::placeholder{
    color: red;
    opacity: 0;
    transition: 3s;
    /* animation: textChanging 2s infinite alternate; */
}

.item-add-form>input.grey::placeholder{
    color: grey;
    /* transform: scale(0.75); */
    transition: 3s;
}

.item-add-form input:focus::placeholder{
    opacity: 0;
    transition: 2s;
}

@keyframes colorChange {
    0% {background-color: blue;}
    100% {background-color: black}
}

@keyframes textChanging{
    /* 0% {transform: scale(0)} */
    /* 100% {transform: scale(1)} */
    /* 0% {font-size: 5px;}
    100% {font-size: 15px;} */
    0% {color: red;}
    100% {color: black;}
}

@media screen and (max-width:899px){
    .item-add-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    

    .item-add-form button{
        width: 60%;
        margin: 10px 0;
    }
}